{% extends "layouts/app.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form class="form-horizontal js-login-form" role="form" method="POST" action="/login">

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email"
                                       value="{% if flash['old']['email'] %} {{ flash['old']['email'] }} {% endif %}"
                                       required {% if not flash['old']['email'] %} autofocus {% endif %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password"
                                    {% if flash['old']['email'] %} autofocus {% endif %} required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox col-md-6">
                                    <label>
                                        <input type="checkbox" name="remember"
                                            {% if flash['old']['remember'] %} checked {% endif %}> Remember Me
                                    </label>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% include "auth/error.twig" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        if (typeof App != "undefined") {
            App.setSubmitListener('.js-login-form')
        }
    </script>
{% endblock %}
